#xcode noise
build/*
#*.xcodeproj/*
#!*.xcodeproj/project.pbxproj
*.pbxuser
*.perspective
*.perspectivev3
mobileDeviceManager.xcodeproj/project.xcworkspace/xcshareddata/
mobileDeviceManager.xcodeproj/project.xcworkspace/xcuserdata/
mobileDeviceManager.xcodeproj/xcuserdata/adam.xcuserdatad/
*.swp
*~.nib

.svn

#osx noise
.DS_Store
#profile
